.header {
  height: 24rem;
  background-color: var(--color-dark-blue);
  border-radius: 0px 0px 20px 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 3.6rem 15rem 15rem 15rem;
  -webkit-border-radius: 0px 0px 20px 20px;
  -moz-border-radius: 0px 0px 20px 20px;
  -ms-border-radius: 0px 0px 20px 20px;
  -o-border-radius: 0px 0px 20px 20px;
}

@media (max-width: 576px) {
  .header {
    padding: 3rem 2rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__heading {
  font-size: 2.8rem !important;
  line-height: 3.3rem;
  white-space: nowrap;
  margin-bottom: 2rem;
}

.container {
  max-width: 110rem;
  margin: 10px auto;
  position: relative;
  bottom: 130px;
}

@media screen and (max-width: 776px) {
  .container {
    padding: 0 3rem;
  }
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 2.4rem 3rem;
}

.card__single {
  background-color: #252b42;
  padding: 3.2rem 6.4rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.card__single-blue {
  border-top: 4px solid var(--color-blue);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card__single-linear {
  border-top: 4px solid;
  -o-border-image: linear-gradient(45deg, red, blue) 10;
     border-image: linear-gradient(45deg, red, blue) 10;
}

.card__single-red {
  border-top: 4px solid var(--color-red);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card__account {
  color: var(--dark-grayish-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2.8rem;
}

.card__account span {
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Inter";
  margin-left: 0.8rem;
}

.card__follower-count {
  color: #fff;
  font-size: 5.6rem;
  line-height: 4.8rem;
  font-family: "Inter";
  font-weight: bold;
  letter-spacing: -2px;
  margin-bottom: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__follower-text {
  letter-spacing: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Inter";
  text-transform: uppercase;
  line-height: 1.5rem;
  color: var(--dark-grayish-blue);
}

.card__date {
  font-family: "Inter";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1eb589;
  margin-top: 2.5rem;
}

.card__date p {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-size: 1.3rem;
  text-transform: capitalize;
  line-height: 1.5rem;
  margin-left: 10px;
}

.heading {
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.9rem;
}

.heading-overview {
  padding: 4.6rem 0 2.4rem 0;
}

.card__overview {
  padding: 2.6rem 2.4rem;
  background-color: #252b42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.card__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__view-text {
  color: var(--dark-grayish-blue);
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 700;
  font-family: "Inter";
  margin-bottom: 2.1rem;
}

.card__view-count {
  color: #fff;
  font-weight: 700;
  font-size: 3.2rem;
  font-family: "Inter";
  line-height: 3.8rem;
}

.card__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.switch {
  display: inline-block;
  position: relative;
}

.slider {
  background: linear-gradient(225deg, #40db82 0%, #388fe7 98.02%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 30px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

input {
  display: none;
}

.slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 25px;
  height: 25px;
  background-color: var(--body-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

input[type="checkbox"]:checked + .slider::before {
  transform: translateX(26px);
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(26px);
  -ms-transform: translateX(26px);
  -o-transform: translateX(26px);
}

:root {
  --font-main: "Fraunces", serif;
  --font-second: "Barlow", sans-serif;
  --lime-green: #1db489;
  --color-blue: #178ff5;
  --bright-red: #dc414c;
  --white: #ffffff;
  --very-pale: #f1f3fa;
  --light-grayish-blue: #f0f2fa;
  --dark-grayish-blue: #8c98c6;
  --body-color: #1e202a;
  --color-dark-blue: #20222f;
  --gray-light: #f7f9ff;
  --gray-card-background: #f1f3fa;
  --color-red: #c4032b;
  --color-light-red: #dc414c;
}

[data-theme="light"] {
  --body-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 18px;
  background: var(--body-color);
  font-family: "Inter";
  position: relative;
}

.red {
  color: var(--color-light-red);
}
/*# sourceMappingURL=main.css.map */